@mixin  border($direction, $color, $height) {
  @if $direction == all {
    border: $height solid $color;
  }
  border-#{$direction}: $height solid $color;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}